@font-face {
    font-family: "GT Walsheim";
    font-weight: normal;
    src: url("../fonts/gt-walsheim-regular.ttf");
}

@font-face {
    font-family: "GT Walsheim";
    font-weight: 500;
    src: url("../fonts/gt-walsheim-medium.ttf");
}

@font-face {
    font-family: "GT Sectra";
    font-weight: normal;
    src: url("../fonts/GT-Sectra-Regular.OTF");
}


body {

    background: #171717;
    font-family: "GT Walsheim", "sans-serif";
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}


.hero {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

.intro {
    display: flex;
    width: 40vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    font-style: normal;
    font-weight: 500;
    font-size: 8vw;
    letter-spacing: -0.05em;
    color: white;
    margin-left: 6%;
}

.title {
    margin-bottom: 4vw;
}

.logo {
    margin-top: 8%;
    margin-left: 8%;
    animation: reveal_opacity 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 0.8s;
}

.logo img:hover {
        opacity: 0.6;
        transform: rotateY(360deg);
} 


.logo img {
    width: 3.5vw;
    transition: all 600ms;
    
}

.grafism {
    width: 47vw;
    margin-top: 3%;
    animation: reveal_opacity 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.grafism img {
    width: 100%;
    height: auto;
}

.revealContent {
  transform: translateY(100%);
  animation: reveal 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.8s;

}

.revealContent2 {
    transform: translateY(100%);
    animation: reveal 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 1s;
    padding-bottom: 1%;
  
}

.revealContent3 {
    transform: translateY(100%);
    animation: reveal 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 1.2s;
  
}

.reveal { 
    margin: 0 8% -6%;
    overflow: hidden;
}

.reveal_opacity {
    animation-delay: 0.8s;
    animation-duration: 1s;
    opacity: 0;
    transform: translateY(8px);
}

.background-image {
    margin: 100px 0 120px 0;
    width: 100%;
    opacity: .4;
    position: relative;
    top: 50px;
}

.principle_intro {
    position: relative;
    overflow-x: hidden;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
    width: auto;
    height: auto;
    transform-origin: 0;
}

.description {
    font-weight: normal;
    font-size: 2vw;
    line-height: 118%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-width: 46vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-left: 4.6vw;
}

.principlesContainer {
    display: flex;
    width: 100vw;
    margin-top: 4vw;
    justify-content: space-between;
    height: auto;
}

.stickyTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 118%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 4%;
    width: 20vw;
    height: 180vh;
    position: -webkit-sticky;
    position: relative;
}

.stickyTitle .test {
 top: 50px;
 position: sticky;
 margin-top: 1vw;
}

.list {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.principle {
    width: 35%;
    color: #FFFFFF;
    margin-right: 9vw;
    margin-bottom: 9vw;
    margin-top: -2vw;
}

.principle p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    line-height: 130%;
    letter-spacing: -0.02em;
    opacity: 0.7;
    margin: 4% 0 0 0;

}

.principle h1 {
    font-family: "GT Sectra";
    font-style: normal;
    font-weight: normal;
    font-size: 8vw;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0;
}

.principle h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 118%;
    letter-spacing: -0.03em;
    margin: 6% 0 0 0;
}








@keyframes reveal_opacity {
    from {transform:translateY(8px); opacity: 0;}
    to {transform:translateY(0); opacity: 1;}
  }



@keyframes reveal {
  from {transform: translateY(100%);}
  to {transform: translateY(0);}
}

